.ChannelManager ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}


.ChannelManager li {
    display: inline-block;
    margin: 20px;
}

.ChannelManager a {
    text-decoration: none;
    color: black;
}

.ChannelManager a:hover,
.ChannelManager a:active {
    color: #fa923f;
}